body {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  /* border: 3px solid red; */
}

.mainContainer {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  /* border: 3px solid blue; */
  display: flex;
}
/* left Box */
#leftBox {
  /* border: 3px solid Yellow; */
  flex: 1.5;
}

#img_umbrella {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo_umbrella {
  /* border: 3px solid red; */
  position: absolute;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-bottom {
  /* border: 3px solid red; */
  width: 18%;
  height: 20%;
}

/* right box  */

#rightBox {
  /* border: 3px solid Yellow; */
  flex: 1;
  padding: 0px 20px;
}

#infoBox {
  /* border: 3px solid Yellow; */
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
}

#colorBadge {
  display: flex;
  flex-direction: row;
}

#headingone {
  font-size: 29px;
  font-weight: bold;
}

#headingtwo {
  font-size: 17px;
}

#headingthree {
  font-size: 12px;
  opacity: 0.8;
}

#imageUpload {
  display: flex;
  /* justify-content: space-between; */
  /* border: 2px solid red; */
}

#imageSvg {
  margin-right: 25px;
  /* border: 2px solid RED; */
}
